$font-el-l-r: 'elektra_light_proregular';
$font-el-l-b: 'elektra_light_probold';
$font-el-m-i: 'elektra_medium_proitalic';
$font-el-m-r: 'elektra_medium_proregular';
$grey : #5c7b98;
$blue : #00b9fe;
$purple: #613993;
$white: #ffffff;
