@import "common-style";
@import "mixins";
.content{
    float: right;
    width: 720px;
}
.desc__box{
    width:100%;
}
.desc{
    &__item{
        border: 1px solid #dce2ec;
        padding: 30px;
        margin-bottom: 20px;
        // box-sizing: border-box;
    }
    &__img-box{
        width: 25%;
        display: inline-block;
        margin-right: 30px;
        text-align: center;
    }
    &__img{
        max-width:95%;
        max-height:95%;
        height: auto;
    }
    &__title{
        color: $blue;
        text-decoration: underline;
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 15px;
        margin-top: 0px;
    }
    &__info{
        display: inline-block;
        vertical-align: top;
        width:60%;


    }
    &__link{
        width:100%;
        height:100%;
        display: block;

    }
    &__text{

        display: underline;
        &:first-child:after{
            content:':';
            font-size: 14px;
        }
        &:last-child{
            padding-left: 5px;
        }
    }
    &__option{
        word-wrap:break-word;
        width:100%;
        left:0;
        line-height: 20px;


    }
    &__option-box{
        padding-right: 4px;
    }
    &__option-box:not(:last-child):after{
        content:',';
        font-size: 14px;
    }
}
.btn-up{
    color: #fff;
    font-size: 15px;
    padding-top: 10px;
    font-family: $font-el-l-b;
    background: $blue;
    width: 76px;
    height: 28px;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-left: 502px;
    cursor: pointer;
    z-index: 100;
    &:before {
       content: '';
        width: 0;
        height: 0;
        border-width: 5px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: $blue;
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -5px;
    }
    &:after {
        content: '';
        width: 0;
        height: 0;
        border-width: 5px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: #fff;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -5px;
    }
}

.desc .desc-grid {
    // margin-bottom: 20px;
}

.desc-grid .desc__item {
    width: 25%;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}

.desc-grid .desc__img-box {
    display: block;
    width: 100%;
}

.desc-grid .desc__info {
    display: block;
    width: 100%;
    margin-left: 0;
}

.desc-grid .desc__item:nth-child(3n) {
    margin-right: 0;
}

.desc-grid .desc__option-box:not(:last-child):after {
    content: '';
    font-size: 14px;
}

.desc-grid .desc__text:first-child:after {
    content: '';
    font-size: 14px;
}

.desc-grid .desc__text{
display: inline-block;
width: 33%;
margin-right: 5px;
vertical-align: text-top;
word-wrap: normal;

}
.desc-grid .desc__option-box {
    display: block;
}

.desc-grid .desc__text:last-child {
   width:55%;
}
