@import "common-style";
@import "mixins";
.second-nav{
    @include clearfix;
    margin-bottom: 25px;
}
.breadcrumbs{
    float: left;
    &__item{
        display: inline-block;
        &:first-child .breadcrumbs__link{
            color: $blue;
            text-decoration: underline;
        }
        &:last-child:before{
                content:">";
                font-size: 14px;
                padding:3px;
            }
    }
}
.second-nav__right{
    float:right;
}
.viewer-switcher__inner{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
    border: 1px solid #ccc;
    background: transparent url('../img/select.jpg') repeat-Y 100%;
    position: relative;
    padding: 2px 30px 2px 10px;
    color: #5c7b98;
    outline: none;

}
.viewer-switcher, .pagination{
    display: inline-block;
}
.pagination{
    margin-left: 30px;
    &__item{
    display: inline-block;
    }
    &__link{
        font-size: 15px;
        text-decoration: underline;
        color: $blue;
        &_active{
            text-decoration: none;
            color: $grey;
        }
    }
}

.second-nav__full {
    width: 100%;
    @include clearfix;
    padding-bottom: 10px;
}

.second-nav__full .viewer-switcher {
    float: left;
}

.second-nav__full .pagination {
    float: right;
}
