/* --------- adjustment --------- */
/* --------- mixins --------- */
/* --------- flexbox --------- */
html {
  width: 100%;
  height: 100%;
  font-size: 100.01%; }

body {
  color: #5c7b98;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  font: 14px "elektra_light_proregular"; }

.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  min-height: 100%; }
  .container:before,
  .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

.content {
  padding-bottom: 80px; }

.main-content {
  height: auto;
  box-sizing: border-box; }

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
  min-width: 1020px; }
  .wrapper:after {
    content: '';
    display: block;
    position: relative;
    height: 240px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none outside none; }
  ul li {
    padding: 0;
    left: 0; }

p {
  padding: 0;
  margin: 0;
  font: 15px "elektra_light_proregular";
  line-height: 20px;
  margin-bottom: 10px; }

footer {
  position: relative;
  height: 240px;
  margin-top: -240px; }

a {
  cursor: pointer;
  color: #5c7b98; }

h2 {
  font-family: "elektra_light_probold";
  font-size: 26px;
  margin-bottom: 10px;
  line-height: 28px; }
