/* --------- mixins --------- */
/* --------- flexbox --------- */
.content {
  float: right;
  width: 720px; }

.desc__box {
  width: 100%; }

.desc__item {
  border: 1px solid #dce2ec;
  padding: 30px;
  margin-bottom: 20px; }

.desc__img-box {
  width: 25%;
  display: inline-block;
  margin-right: 30px; }

.desc__img {
  width: 100%;
  height: auto; }

.desc__title {
  color: #00b9fe;
  text-decoration: underline;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 0px; }

.desc__info {
  display: inline-block;
  vertical-align: top;
  width: 60%; }

.desc__link {
  width: 100%;
  height: 100%; }

.desc__text {
  display: underline; }
  .desc__text:first-child:after {
    content: ':';
    font-size: 14px; }
  .desc__text:last-child {
    padding-left: 5px; }

.desc__option {
  word-wrap: break-word;
  width: 100%;
  left: 0;
  line-height: 20px; }

.desc__option-box {
  padding-right: 4px; }

.desc__option-box:not(:last-child):after {
  content: ',';
  font-size: 14px; }

.btn-up {
  color: #fff;
  font-size: 15px;
  padding-top: 10px;
  font-family: "elektra_light_probold";
  background: #00b9fe;
  width: 76px;
  height: 28px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: 502px;
  cursor: pointer; }
  .btn-up:before {
    content: '';
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #00b9fe;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px; }
  .btn-up:after {
    content: '';
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -5px; }
