/* fonts */
@font-face {
  font-family: 'elektra_light_probold';
  src: url("../fonts/elektra_light_pro_bold-webfont.eot");
  src: url("../fonts/elektra_light_pro_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/elektra_light_pro_bold-webfont.woff") format("woff"), url("../fonts/elektra_light_pro_bold-webfont.ttf") format("truetype"), url("../fonts/elektra_light_pro_bold-webfont.svg#elektra_light_probold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'elektra_light_proregular';
  src: url("../fonts/elektra_light_pro-webfont.eot");
  src: url("../fonts/elektra_light_pro-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/elektra_light_pro-webfont.woff") format("woff"), url("../fonts/elektra_light_pro-webfont.ttf") format("truetype"), url("../fonts/elektra_light_pro-webfont.svg#elektra_light_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* fonts end */
/* --------- adjustment --------- */
/* --------- mixins --------- */
/* --------- flexbox --------- */
html {
  width: 100%;
  height: 100%;
  font-size: 100.01%; }

body {
  color: #5c7b98;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  font: 14px "elektra_light_proregular"; }

.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  min-height: 100%; }
  .container:before,
  .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

.content {
  padding-bottom: 80px; }

.main-content {
  height: auto;
  box-sizing: border-box; }

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
  min-width: 1020px; }
  .wrapper:after {
    content: '';
    display: block;
    position: relative;
    height: 240px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none outside none; }
  ul li {
    padding: 0;
    left: 0; }

p {
  padding: 0;
  margin: 0;
  font: 15px "elektra_light_proregular";
  line-height: 20px;
  margin-bottom: 10px; }

footer {
  position: relative;
  height: 240px;
  margin-top: -240px; }

a {
  cursor: pointer;
  color: #5c7b98; }

h2 {
  font-family: "elektra_light_probold";
  font-size: 26px;
  margin-bottom: 10px;
  line-height: 28px; }

/* --------- mixins --------- */
/* --------- flexbox --------- */
/* --------- mixins --------- */
/* --------- flexbox --------- */
html {
  overflow: auto; }

.header {
  padding-bottom: 55px;
  background: #d9e4f0;
  background: linear-gradient(90deg, #dae4ef 0%, #f0f5f9 50%, #f0f5f9 50%, #dae4ef 100%);
  margin-bottom: 40px; }
  .header:before,
  .header:after {
    content: "";
    display: table; }
  .header:after {
    clear: both; }

.main-logo {
  float: left;
  margin-top: 20px;
  display: block; }
  .main-logo__img {
    min-width: 199px;
    min-height: 57px; }

.contacts {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  float: right; }
  .contacts__number {
    font: 25px "elektra_light_proregular"; }
    .contacts__number_style {
      color: #00b9fe;
      font: 15px "elektra_light_probold";
      vertical-align: top;
      margin-right: 5px; }
  .contacts__mail {
    text-align: center; }
  .contacts__link {
    color: #613993;
    font: 18px "elektra_light_proregular";
    text-align: center; }

/* --------- mixins --------- */
/* --------- flexbox --------- */
.main-nav {
  position: absolute;
  top: -62px;
  background: transparent;
  border: 0px;
  overflow: hidden;
  width: 100%; }
  .main-nav:first-child {
    padding-left: 20px; }
  .main-nav__item {
    display: inline-block;
    background-color: #f7f7f7;
    position: relative;
    margin-left: -4px;
    color: #f7f7f7; }
    .main-nav__item:hover {
      background: #dce6f0;
      color: #dce6f0; }
    .main-nav__item:hover:after {
      border-left-color: #dce6f0; }
    .main-nav__item:before,
    .main-nav__item:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -1.5em;
      border-top: 1.5em solid transparent;
      border-bottom: 1.5em solid transparent;
      border-left: 1em solid; }
    .main-nav__item:after {
      right: -0.9em;
      z-index: 2;
      border-left-color: #f7f7f7; }
    .main-nav__item:before {
      border-left-color: #f7f7f7;
      border-left: 1em solid;
      right: -1em;
      z-index: 1;
      color: #e3e3e3; }
  .main-nav__link {
    display: block;
    text-decoration: none;
    color: #5c7b98;
    font-size: 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    padding: 12px;
    padding-left: 25px; }
    .main-nav__link_first {
      padding-left: 15px; }
  .main-nav__span {
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    z-index: 1;
    left: -0.9em;
    border-right: 0em solid;
    border-top: 1.55em solid;
    border-left: 1em solid transparent;
    border-bottom: 1.55em solid; }
    .main-nav__span:after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      z-index: 3;
      left: -1em;
      border-bottom: 1px solid  #e3e3e3; }

.nav__link_active {
  background: #00b9fe;
  color: #ffffff; }
  .nav__link_active:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid;
    right: -0.9em;
    border-left-color: #00b9fe;
    z-index: 4; }

/* --------- mixins --------- */
/* --------- flexbox --------- */
.sidebar {
  width: 230px; }

.accordeon {
  float: left;
  width: 100%;
  background-color: #ffffff; }
  .accordeon__inner {
    display: none; }
  .accordeon__list {
    width: 100%; }
  .accordeon__item {
    border-bottom: 1px solid #e3e3e3; }
    .accordeon__item:last-child {
      border-bottom: none; }
  .accordeon__trigger,
  .accordeon__inner__link {
    text-decoration: none;
    padding: 10px 0 10px 20px;
    display: block;
    font-size: 15px; }
  .accordeon__inner__link {
    padding: 10px 0 10px 30px;
    position: relative; }
    .accordeon__inner__link:before {
      position: absolute;
      content: '';
      width: 3px;
      height: 3px;
      border: 2px solid #5c7b98;
      left: 15px;
      top: 15px;
      border-left-color: transparent;
      border-bottom-color: transparent;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .accordeon__inner__item {
    border-top: 1px solid #e3e3e3; }
  .accordeon__trigger:hover,
  .accordeon__inner__link:hover {
    background-color: #dce6f0; }
  .accordeon__trigger_active {
    background: #00b9fe;
    color: #ffffff;
    font-size: 15px; }
    .accordeon__trigger_active:hover {
      background: #00b9fe;
      color: #ffffff; }

/* --------- mixins --------- */
/* --------- flexbox --------- */
.footer {
  background: #613993 url("../img/foot-bg.jpg") repeat;
  padding-top: 65px;
  line-height: 20px;
  box-sizing: border-box;
  min-width: 1020px; }
  .footer:before,
  .footer:after {
    content: "";
    display: table; }
  .footer:after {
    clear: both; }

.logo {
  margin-right: 120px;
  display: inline-block;
  vertical-align: middle; }

.foot-menu {
  display: inline-block;
  color: #fff; }
  .foot-menu__list {
    display: inline-block;
    vertical-align: middle;
    margin-right: 65px; }
  .foot-menu____link {
    text-decoration: none;
    color: inherit;
    text-decoration: underline; }
  .foot-menu__item_title {
    font-family: "elektra_light_probold"; }

.mobile-app__link {
  margin-right: 7px;
  margin-bottom: 20px; }

.socials__link, .mobile-app__link {
  display: inline;
  vertical-align: top; }

.mobile-app__item, .socials__item {
  display: inline-block; }

.socials__link {
  font-size: 0;
  margin-right: 10px; }

.mobile-app__link {
  font-size: 0; }

a {
  text-decoration: none;
  color: inherit; }

.socials-box {
  float: right;
  margin-top: 8px; }

.mobile-app {
  margin-bottom: 20px; }

.foot-menu__link {
  text-decoration: underline; }

/* --------- mixins --------- */
/* --------- flexbox --------- */
.content {
  float: right;
  width: 720px; }

.desc__box {
  width: 100%; }

.desc__item {
  border: 1px solid #dce2ec;
  padding: 30px;
  margin-bottom: 20px; }

.desc__img-box {
  width: 25%;
  display: inline-block;
  margin-right: 30px;
  text-align: center; }

.desc__img {
  max-width: 95%;
  max-height: 95%;
  height: auto; }

.desc__title {
  color: #00b9fe;
  text-decoration: underline;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 0px; }

.desc__info {
  display: inline-block;
  vertical-align: top;
  width: 60%; }

.desc__link {
  width: 100%;
  height: 100%;
  display: block; }

.desc__text {
  display: underline; }
  .desc__text:first-child:after {
    content: ':';
    font-size: 14px; }
  .desc__text:last-child {
    padding-left: 5px; }

.desc__option {
  word-wrap: break-word;
  width: 100%;
  left: 0;
  line-height: 20px; }

.desc__option-box {
  padding-right: 4px; }

.desc__option-box:not(:last-child):after {
  content: ',';
  font-size: 14px; }

.btn-up {
  color: #fff;
  font-size: 15px;
  padding-top: 10px;
  font-family: "elektra_light_probold";
  background: #00b9fe;
  width: 76px;
  height: 28px;
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  margin-left: 502px;
  cursor: pointer;
  z-index: 100; }
  .btn-up:before {
    content: '';
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #00b9fe;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px; }
  .btn-up:after {
    content: '';
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -5px; }

.desc-grid .desc__item {
  width: 25%;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top; }

.desc-grid .desc__img-box {
  display: block;
  width: 100%; }

.desc-grid .desc__info {
  display: block;
  width: 100%;
  margin-left: 0; }

.desc-grid .desc__item:nth-child(3n) {
  margin-right: 0; }

.desc-grid .desc__option-box:not(:last-child):after {
  content: '';
  font-size: 14px; }

.desc-grid .desc__text:first-child:after {
  content: '';
  font-size: 14px; }

.desc-grid .desc__text {
  display: inline-block;
  width: 33%;
  margin-right: 5px;
  vertical-align: text-top;
  word-wrap: normal; }

.desc-grid .desc__option-box {
  display: block; }

.desc-grid .desc__text:last-child {
  width: 55%; }

/* --------- mixins --------- */
/* --------- flexbox --------- */
.second-nav {
  margin-bottom: 25px; }
  .second-nav:before,
  .second-nav:after {
    content: "";
    display: table; }
  .second-nav:after {
    clear: both; }

.breadcrumbs {
  float: left; }
  .breadcrumbs__item {
    display: inline-block; }
    .breadcrumbs__item:first-child .breadcrumbs__link {
      color: #00b9fe;
      text-decoration: underline; }
    .breadcrumbs__item:last-child:before {
      content: ">";
      font-size: 14px;
      padding: 3px; }

.second-nav__right {
  float: right; }

.viewer-switcher__inner {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border: 1px solid #ccc;
  background: transparent url("../img/select.jpg") repeat-Y 100%;
  position: relative;
  padding: 2px 30px 2px 10px;
  color: #5c7b98;
  outline: none; }

.viewer-switcher, .pagination {
  display: inline-block; }

.pagination {
  margin-left: 30px; }
  .pagination__item {
    display: inline-block; }
  .pagination__link {
    font-size: 15px;
    text-decoration: underline;
    color: #00b9fe; }
    .pagination__link_active {
      text-decoration: none;
      color: #5c7b98; }

.second-nav__full {
  width: 100%;
  padding-bottom: 10px; }
  .second-nav__full:before,
  .second-nav__full:after {
    content: "";
    display: table; }
  .second-nav__full:after {
    clear: both; }

.second-nav__full .viewer-switcher {
  float: left; }

.second-nav__full .pagination {
  float: right; }
