extends ../layout/layout.jade

block title
    | Главная страница

block breadcrumbs
    +breadcrumbs(['Главная','Каталог'], 1)

block content
    .content
        section.desc
            .desc__box
                +content(1, 'Apple Thunderb Display 27"', ['42787825','включена','серебристый','1280*1245*90','9 кг'])
                +content(2, 'Apple Thunderb Display 27"', ['42787825','включена','серебристый','1280*1245*90','9 кг'])
                +content(3, 'Apple Thunderb Display 27"', ['42787825','включена','серебристый','1280*1245*90','9 кг'])
                +content(4, 'Apple Thunderb Display 27"', ['42787825','включена','серебристый','1280*1245*90','9 кг'])
                +content(5, 'Apple Thunderb Display 27"', ['42787825','включена','серебристый','1280*1245*90','9 кг'])
                +content(6, 'Apple Thunderb Display 27"', ['42787825','включена','серебристый','1280*1245*90','9 кг'])
        .nav_full
        section.aboutshop
            h2 Пара слов о магазине
            p
                |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
            p
                |Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
        .btn-up#btn-up
            | Наверх

