footer.footer
    .container
        .logo
            img.logo__img(src="img/logo.png", alt="logo")
        include footer-menu.jade
        .mobile-app
            ul.mobile-app__list
                li.mobile-app__item
                     a.mobile-app__link.mobile-app__link_appstore(href="#") App store
                li.mobile-app__item
                     a.mobile-app__link.mobile-app__link_gplay(href="#") Google play
        .socials
            ul.socials__list
                li.socials__item
                    a.socials__link.socials__link_vk(href="#") Вконтакте
                li.socials__item
                    a.socials__link.socials__link_vk(href="#") FaceBook
                li.socials__item
                    a.socials__link.socials__link_vk(href="#") Twitter
