header.header
    .container
        .main-logo
            img.main-logo__img(src="img/main-logo.png", alt="main logo")
        .contacts
            .contacts__number
                span.contacts__number_style
                    | +7 (921)
                | 322 12 32
            .contacts__mail
                a.contacts__link(href="mailto:manager@company.ru")
                    |manager@company.ru

