head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title
        block title
    meta(name="desciption", content="Интернет-магазин ЭпплShop")
    meta(name="keywords", content="Интернет-магазин, ЭпплShop, Эппл, Айфон, Мак")
    meta(name="author", content="Солопина Ксения")
    link(rel="shortcut, icon" href="favicon.ico", type="image/x-icon")
    link(rel="icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", type="text/css", href="bower/normalize.css/normalize.css")
    script(src="bower/modernizer/modernizr.js")
