head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title
        block title
    meta(name="desciption", content="Интернет-магазин ЭпплShop")
    meta(name="keywords", content="Интернет-магазин, ЭпплShop, Эппл, Айфон, Мак")
    meta(name="author", content="Солопина Ксения")
    link(rel="shortcut, icon" href="favicon.ico", type="image/x-icon")
    link(rel="icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", type="text/css", href="bower/normalize.css/normalize.css")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    <!--[if IE 8]> <link href="css/ie8.css", rel="stylesheet", type="text/css" /><![endif]-->
    script(src="bower/modernizer/modernizr.js")
