nav.main-nav
    ul.main-nav__list
        li.main-nav__item
            a.main-nav__link(href="#").main-nav__link_first Мобильные телефоны
            span.main-nav__span
        li.main-nav__item
            a.main-nav__link(href="#").nav__link_active Планшеты
        li.main-nav__item
            a.main-nav__link(href="#") Mp3 плееры
        li.main-nav__item
            a.main-nav__link(href="#") Персональные компьютеры
        li.main-nav__item
            a.main-nav__link(href="#") Ноутбуки
        li.main-nav__item
            a.main-nav__link(href="#") Apple TV
        li.main-nav__item
            a.main-nav__link(href="#") Аксессуары
