section.sidebar
    #accordeon.accordeon
        ul#accordeon__list.accordeon__list
            li.accordeon__item
                a.accordeon__trigger.accordeon__trigger_active(href="#")
                    |IPhone
                ul#accordeon__inner.accordeon__inner
                    li.accordeon__inner__item
                        a.accordeon__inner__link(href="#")
                            |IPhone 4S
                    li.accordeon__inner__item
                        a.accordeon__inner__link(href="#")
                            |IPhone 5
                    li.accordeon__inner__item
                        a.accordeon__inner__link(href="#")
                            |IPhone 5S с эксклюзивным дизайном
                    li.accordeon__inner__item
                        a.accordeon__inner__link(href="#")
                            |IPhone 6S
                    li.accordeon__inner__item
                        a.accordeon__inner__link(href="#")
                            |IPhone 6S plus
            li.accordeon__item
                a.accordeon__trigger(href="#")
                    |IPad
            li.accordeon__item
                a.accordeon__trigger(href="#")
                    |IMac
            li.accordeon__item
                a.accordeon__trigger(href="#")
                    |Macbook
            li.accordeon__item
                a.accordeon__trigger(href="#")
                    |IPod
            li.accordeon__item
                a.accordeon__trigger(href="#")
                    |Другое
