.viewer-switcher
    select#viewer-switcher__inner.viewer-switcher__inner
        option.viewer-switcher__item.viewer-switcher__item_active(selected value="grid") Сеткой
        option.viewer-switcher__item(value="lines" selected) Линиями
